#toggle-view {
	list-style:none;
	font-family:arial;
	margin:0;
	padding:5px 20px;
	clear: both;
}
#toggle-view h2 {
	border-bottom:0px;
	margin-top:15px;
	margin-top:30px;
	color: #000;
}
/*#toggle-view h2:hover {
	color: #ffc600;
}*/
#toggle-view li {
	margin:0px;
	border-bottom:1px solid #ccc;
	position:relative;
	cursor:pointer;
	list-style-type:none;
	padding-left:20px;
	color: #000;
	padding-bottom: 5px;
}
/*#toggle-view li:hover {
	color: #ffc600;
}
#toggle-view li:hover h2, #toggle-view li:hover span{
	color: #ffc600;
}*/
#toggle-view span {
	position:absolute;
	left:0px;
	top:-10px;
	color:#000;
	font-size:28px;
	font-weight:bold;
}
#toggle-view span:hover {
	color: #FFA500;
}
#toggle-view .panel {
	margin:5px 0;
	display:none;
}
#toggle-view .panel .sitemap{
	list-style: inside url("../images/list-style.png") disc;
	padding: 0;
	border: 0;
	color: #000;
}
#toggle-view .panel .sitemap:hover,#toggle-view .panel .sitemap:hover a {
	color: #FFA500;
}
#toggle-view .panel .sitemap a{
	color: #000;
}
#toggle-view .panel .sitemap a:hover{
	color: #FFA500;
}
.sitemap-content{
	background: #eee;
	margin: 20px 0;
}


